* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Oswald:wght@200;300;400;500;600;700&family=Rubik:wght@400;500;700;800;900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 200;
    background-color: rgb(211, 189, 231);
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 500;
}

.spasi-kanan {
  margin-right: 20px;
}

header {
    background-color: #333;
    /* background-color: #458de6; */
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

a {
    color: rgb(27, 127, 215); /* Warna default saat tidak di-hover */
    transition: color 0.5s; /* Efek transisi ketika warna berubah */
}


a:hover {
    color: rgb(194, 194, 213);
}

nav ul {
    list-style: none;
    display: flex;
    padding-right: 10px;
}

nav ul li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}


/* LANGUAGE SELECTOR */


.language-selector {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.language-selector label {
    margin-right: 10px;
    color: white;
}

.language-selector select {
    padding: 5px;
}

/* GALLERY SECTION */

.gallery-section {
    padding: 80px 10px 20px;
    
}

.gallery-section1 {
    padding: 10px 20px;
}

.teks-di-tengah {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.item {
    position: relative;
    overflow: hidden;
}



.item:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.item img,
.item video {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: #131212;
}

.about-section,
.contact-section,
.photo-source-section {
    padding: 10px 20px;
    color: #ddd;
    background-color: #292929;
    position: relative;
    z-index: 1;
}

/* HAMBURGER MENU */

.mobile-nav a {
    color: #fafafa;
    font-size: 16px;
    padding: 10px 10px;
  }

  .hamburger-menu {
    position: relative;
    margin-right: 80px;
  }
  
  .hamburger-menu button {
    position: relative;
    top: 5px;
    width: 30px;
    height: 40px;
    margin-right: 60px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .hamburger-menu button:before {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 10px;
    right: 40px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 4px;
    background-color: #000;
  }
  
  .hamburger-menu button:hover:before {
    width: 20px;
  }

  @media (max-width: 1500px) {
    .hamburger-menu {
        display: none;
    }
    .mobile-nav a {
      margin-right: 15px;
      padding: 5px 5px;
    }
  }

  
  @media (max-width: 768px) {
    .mobile-nav a {
      display: none;
    }

    .hamburger-menu {
        margin-right: 40px;
    }
  
    .hamburger-menu button {
      display: block;
    }
  
    .hamburger-menu button:before {
      width: 15px;
    }
  
    .hamburger-menu button:hover:before {
      width: 30px;
    }
  }

  @media (max-width: 560px) {
    .mobile-nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-height: 300px;
        background-color: #b3a2a2;
        border-radius: 10px;
        transition: height 0.5s ease-in-out;
    }

    .mobile-nav.active {
     height: 100%;
     padding: 10px 10px;
     display: block;
    }

    .mobile-nav a {
        display: block;
        width: 100%;
        padding: 10px 10px;
        margin: 10px 10px;
        color: #f6f5f5;
        background-color: #372e94;
        border-radius: 2px;
        cursor: pointer;
        transition: height 0.5s ease-in-out;
     }

     .mobile-nav li {
        margin: 10px 10px;
     }

     .close-menu {
        display: block;
        width: 30px;
        height: 30px;
        background-color: #458de6;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
      }

    .hamburger-menu {
    margin-right: 20px;
        
    }
  
    /* .hamburger-menu button {
      display: block;
    } */
  
    .hamburger-menu button:before {
      width: 10px;
    }
  
    .hamburger-menu button:hover:before {
      width: 20px;
    }
  }

  @media (max-width: 400px) {
    .mobile-nav {
        display: none;
        margin-left: -60px;
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%; 
        z-index: 0
      }

      .mobile-nav.active {
        display: block;
      }
    
      .hamburger-menu {
        margin-right: 60px;
        position: relative;
        z-index: 1;
      }
    
      .hamburger-menu button {
        display: block;
      }
    
      .hamburger-menu button:before {
        width: 5px;
      }
    
      .hamburger-menu button:hover:before {
        width: 15px;
      }
    }
    

  /* @media (max-width: 850px) {
    .navbar {
        position: fixed;
        width: 100%;
        height: auto;
        padding: 20px;
        top: 0;
        right: 0;
        bottom: auto;
        left: -100%;
        display: block;
        background: #2d2d2d;
        transition: all 0.4s ease-in-out;
    }

    .navbar a {
        display: block;
        color: #b3b3b3;
        padding: 10px;
        margin: 0px;
        font-size: 1.5rem;
        font-weight: 400;
    }
} */

footer {
    background-color: #131212;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.8);
}

